*{
    padding:0;
    margin:0;
}

@media only screen and (min-width: 1024px)
{   
    body{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }
}

header {
    background-color: transparent;
    z-index: 99;
}

.navigation{
    display: flex;
    text-align: center;
}

.logo-menu-tisno{
    position: relative;
    top:10px;
    /* left:17px; */ 
    height: 28px;
    width: 105px;
    animation: titleAnimation 0.5s; 
    z-index:99;

}

.logo-menu-resort-big{
    position: relative;
    top:10px;
    left:5px;
    height: 28px;
    width: 135px;
    animation: titleAnimation 0.5s;
    z-index:99;
    /* -webkit-transition: all 3s;
    transition: all 3s; */
    /* padding-bottom: 1.4px;
    padding-left: 3px;
    padding-top: 18px; */
}

.logo-menu-resort-small{
    position: relative;
    width: 100px;
    height:20px;
    top: 5px;
    left: 3px; 
    animation: titleAnimation 0.5s;
    display: none;
    z-index: 99;

}

.menu{
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    justify-content: left;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .02em;
    text-align: start;
    text-transform: uppercase;
    align-content: flex-start;
    padding: 10px;
    margin: 10px;
    line-height: 25px;
    /* border-radius:4px; */
    color:black;
    z-index: 99;
}
a.link.img{
    display: inline;
}
.menu-item{
    padding:25px;
    color: rgb(104, 101, 101);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: none;
    opacity: 0;
    z-index: 99;
    /* animation: titleAnimation 1s ease-in;   */
}

 /* .menu-item.contact{
    position:fixed;
    right:120px;
}

.logo-menu-booking{
    position: fixed;
    width: 100px;
    height:50px;
    top: 32px;
    right: 32px;
    animation: titleAnimation 0.5s;
    display: inline-flex;
    z-index: 99;
} */
.background{
    z-index: 2;
    background-color: white;
    opacity: 1;
    position: absolute;
    top:17px;
    left:12px;
    height: 75px;
    width: 1525px;
    border-radius:1px;
    display: none;
    opacity: 95%;

}

.main-image{
    max-width: 100%;
    height:auto;

}

.slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
          position: fixed;
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: 1; 
  }
  
  .slideshow li span { 
    position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 1;
      animation: imageAnimation 30s linear infinite 0s;
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url('../images/main-image-1.jpeg');
  }
  .slideshow li:nth-child(2) span { 
    background-image: url('../images/main-image-2.jpeg');
    animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
    background-image: url('../images/main-image-3.jpeg');  
    animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
    background-image: url('../images/main-image-4.jpeg');
    animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
    background-image: url('../images/main-image-5.jpeg');
    animation-delay: 24s; 
  }
  .slideshow li:nth-child(6) span { 
    background-image: url('../images/main-image-6.jpeg');
    animation-delay: 30s; 
  }
  
  
  
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
  
  
@keyframes titleAnimation { 
    from { opacity: 0  }
    to {opacity: 1; animation-timing-function: ease-in;}
    /* 8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 } */
}

@keyframes titleAnimation2{
    0% {opacity: 1}
    100% {opacity: 0; animation-timing-function: ease-out;}
}
  
.no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }

div.menu > a:hover{
    color:black;
    font-weight:bolder;
}

.nav-active{
    animation: transform 3s;
}

/* div.menu > a:nth-child(4){
    animation-delay: 3s;
}

div.menu > a:nth-child(5){
    animation-delay: 3.2s;
}

div.menu > a:nth-child(6){
    animation-delay: 3.4s;
}

div.menu > a:nth-child(7){
    animation-delay: 3.6s;
} */